
*{
    font-family: 'Ranchers', cursive;
}


body {
  background-color:lightslategray;
  margin: 0;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
  text-align:center;

}
ul.header li a {
  color: darkcyan;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;

}

.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.active {
 background-color: lightcyan;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: jello;
    transform-origin: center;
}



#main-header {
    display: table;
    margin: 0 auto;
    font-size:4.3vw;
}

.footer {
    text-decoration: none;
    display: table;
    margin: 0 auto;
    height:100px;
    padding-top: 50px;
}

#container {
  position: relative;
  min-height: 150px;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

a {
    text-decoration: none;

}

@keyframes App-logo-spin {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(360deg); }
}

/*pages*/

.logos {
    animation: App-logo-spin infinite 5s linear;
    height: 80px;
    display: table;
    margin: 0 auto;
}

.css-page {
    background-color:lightcyan;
    padding: 20px;
    margin:0 20px 0 20px;
}

.html-page{
    padding: 20px;
    background:lightgoldenrodyellow;
    margin:0 20px 0 20px;
}

.git-page{
    padding: 20px;
    background:lightgrey;
    margin:0 20px 0 20px;
}

.react-page{
    padding: 20px;
    background-color:lightskyblue;
    margin:0 20px 0 20px;
}

.javascript-page{
    padding: 20px;
    background-color:lightseagreen;
    margin:0 20px 0 20px;
}
/*home*/
.HomeDivs {
    height:500px;

}
.feature-item{
    padding: 20px 20px 20px 20px;
}

#myBtn {
    /*display: none;*/
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: lightsalmon;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 2vw;
}

#myBtn:hover {
    background-color: #555;
}


@media (max-width: 768px) {
li > a{
    font-size:3.5vw;
    width: 25%;
}
    body{
        font-size:3vw
    }
}
@media  (min-width: 768px) and (max-width: 992px) {

    li > a{
        font-size:2vw;
    }
    body{
        font-size:2vw
    }
}
@media  (min-width: 992px) and (max-width: 1200px) {
    li > a{
        font-size:2vw;
    }
    body{
        font-size:2vw
    }
}
@media (min-width: 1200px) {
    li > a{
        font-size:1.7vw;
    }
    body{
        font-size:2vw
    }
}


